<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añadir peliculas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet">
</head>
<body>

    <h1 class="keloke text-center">Añadir películas al usuario {{ username }}</h1>

    <form class="text-center" method="post" action="{{ url_for('add_film') }}">
        <label for="pelicula">Nombre pelicula:</label>
        <input type="text" id="pelicula" name="pelicula" required autofocus>
        <br>
        <label for="sinopsis">Sinopsis:</label>
        <input type="text" id="sinopsis" name="sinopsis" required >
        <br>
        <label for="puntuacion">Puntuación:</label>
        <input type="number" id="puntuacion" name="puntuacion" required >
        <br>
        <label for="genero">Género:</label>
        <select name="genero" id="genero">
            <option value="terror">Terror</option>
            <option value="lucha y acción">Lucha y acción</option>
            <option value="comedia">Comedia</option>
        </select>
        <br>
        <label for="fecha">Fecha de estreno:</label>
        <input type="date" id="fecha" name="fecha" required>
        <br>
        <label for="capitulos">Número de capítulos:</label>
        <input type="number" id="capitulos" name="capitulos" required>
        <br>
        <label for="duracion">Duración:</label>
        <input type="number" id="duracion" name="duracion">
        <br>
        <label for="categoria">Categoría:</label>
        <select name="categoria" id="categoria">
            <option value="por_ver">Por ver</option>
            <option value="viendo">Viendo</option>
            <option value="vistas">Vistas</option>
        </select>
        <br>
        <button class="btn btn-primary" type="submit">Añadir</button>
    </form>

    <p class="text-center">Haz click <a href="{{ url_for('home') }}">aquí</a> para volver a la página principal</p>

</body>
</html>