<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet">
</head>
<body>

    <div class="d-flex justify-content-center mt-5">
        <fieldset class="border rounded p-3 shadow">
            <legend class="text-center">Iniciar sesión</legend>
            <form class="text-center" method="post", action="{{url_for('login')}}">
                <label class="form-label" for="usuario">Usuario:</label>
                <input class="form-control w-auto mx-auto d-block" type="text" id="usuario" name="usuario" required autofocus>
                <br>
                <label for="password">Contraseña:</label>
                <input class="form-control w-auto mx-auto d-block"  type="password", id="password", name="password" required>
                <br>
                <button class="btn btn-primary" type="submit">Enviar</button>
            </form>
        </fieldset>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <button onclick="redirigir('register')" type="button" class="btn btn-secondary">Pulsa aquí para registrar un nuevo usuario</button>
    </div>

    {% if error %}
        <p class="text-center" style="color: red">{{ error }}</p>
    {% endif %}

     <script>
        function redirigir(url) {


    window.location.href=url;

}
    </script>

</body>
</html>